* {
    font-family: 'Roboto', sans-serif;
}

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    position: relative;
    background-image: url('background.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow-x: hidden;
}

.container {
    margin: 0;
    margin-top: 100px;
    padding: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
}

.navbar {
    top: 0%;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100vw;
    height: 80px;
    background-color: white;
    background: rgba(255, 255, 255, 0,1);
    flex-direction: row;
    z-index: 1000;
    transition: background-color 0.3s ease;
}

.navbar img {
    margin: 0;
    padding: 0;
    top: 0%;
    width: 80px;
    height: 80px;
    left: 1%;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.navbar li {
    padding: 10px;
    border: 1px solid #ccc;
    margin: 5px;
    float: left;
    margin-left: 10px;
    margin-right: 10px;
    text-decoration: none;
    border-radius: 10px;
    background-color: white;
    background: hsl(203, 52%, 95%);
}

.navbar li a {
    text-decoration: none;
    font-size: 18px;
    color: #333;
}

#translateButton {
    text-decoration: none;
    font-size: 18px;
    color: #333;
}

.translation-button-container {
    margin-right: 20px;
}

.navbar-scrolled {
    background-color: #f8f8f8;
}

.search-container {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    background: rgba(0, 0, 0, 0.1);
}

.search-input {
    width: 300px;
    padding: 15px;
    border: 2px solid #00B4CC;
    border-radius: 5px 0 0 5px;
    outline: none;
}

.search-button {
    padding: 15px;
    background-color: transparent;
    color: #fff;
    border: 2px solid #00B4CC;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
}

.weather-info {
    font-size: 20px;
    position: absolute;
    top: 45%;
    left: 45%;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    justify-content: center;
    background: rgba(255, 255, 255, 0.5);
}

.header {
    background-color: #3685e0cb;
    color: white;
    font-size: 24px;
    padding: 10px;
    text-align: center;
}

.about-container {
    margin-top: 200px;
    width: 200%;
    height: 600px;
    background-color: rgba(255, 255, 255, 0.8);
    display: flex;
    flex-direction: column;
    text-align: center;
}

.contact-container {
    width: 99%;
    height: 400px;
    display: flex;
    flex-direction: column;
    text-align: left;
    justify-content: center;
    font-size: 15px;
}

.contact-infos {
    font-size: 15px;
    display: flex;
    justify-content: space-between;
}
