*{
    font-family: 'Roboto', sans-serif;
}
body,html{
    margin: 0;
    padding: 0;
    height: 100%;
}

.container{
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    background-color: aquamarine;
}

.navbar{
    display: flex;
    align-items: center;
    width: 100vw;
    height: 60px;
    background-color: white;
    flex-direction: row;
    justify-content: space-around;
}
.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.navbar li {
    margin: 5px;
    float: left; /* Make the list items display horizontally */
    text-decoration: none;
}
.navbar li a {
    text-decoration: none;
}
