*{
    font-family: 'Roboto', sans-serif;
}

body,html{
    margin: 0;
    padding: 0;
    height: 100%;
    position: relative;
    background-image: url('background.png'); /* Replace 'background.jpg' with your actual image file */
    background-size: cover; /* This property ensures that the background image covers the entire viewport */
    background-position: center; /* This property centers the background image */
    background-repeat: no-repeat;
}

.container{
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between; /* Add this line to evenly distribute items */
    width: 100vw;
    height: 80px;
    background-color: white;
    background: rgba(255, 255, 255, 0.2);
    flex-direction: row;
   
}

.navbar img{
    margin: 0;
    padding: 0;
    top: 0%;
    width: 80px;
    height: 80px;
    left: 1%;
}
.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.navbar li {
    padding: 10px;
    border: 1px solid #ccc;
    margin: 5px;
    float: left; /* Make the list items display horizontally */
    margin-left: 10px;
    margin-right: 10px;
    text-decoration: none;
    border-radius: 10px;
    background-color: blue;
    background: rgba(0, 0, 0, 0.1);

}
.navbar li a {
    text-decoration: none;
    font-size: 18px;
    color: #333;
}
#translateButton {
    text-decoration: none;
    font-size: 18px;
    color: #333;

}

.translation-button-container {
    margin-right: 20px; /* Adjust the margin as needed */
}
/* Reset styles for better consistency */
/* styles.css */

/* Reset styles for better consistency */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Style for the search container */


.search-container {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center; /* Butonu ortalamak için */
    background: rgba(0, 0, 0, 0.1);
}

/* Style for the search input */
.search-input {
    width: 300px;
    padding: 15px;
    border: 2px solid #00B4CC;
    border-radius: 5px 0 0 5px;
    outline: none;
}

/* Style for the search button */
.search-button {
    padding: 15px;
    background-color: transparent;
    color: #fff;
    border: 2px solid #00B4CC;
    border-radius: 0 5px 5px 0;
    cursor: pointer;

}

